body {
  /* font-family: Arial, sans-serif; */
  font-family: 'Noto Sans JP';

  /* background: linear-gradient(0deg, rgb(65, 13, 40), rgb(99, 67, 24)) no-repeat; */
}


.node {
  fill: lightgreen;
  /* stroke: #fff;
    stroke-width: 2px; */
}

.text {
  font-size: 9px;
  fill: #fff;
  text-anchor: middle;
  dominant-baseline: middle;
  /* background-color: red; */
}

.subtext {
  font-size: 24px;
  font-style: italic;
  fill: #fff;
  text-anchor: middle;
  dominant-baseline: middle;
  z-index: 10px;
  /* background-color: red; */
}

.titleText {
  font-size: 30px;
  fill: #fff;
  text-anchor: middle;
  dominant-baseline: middle;
  z-index: 10px;
}


.link {
  fill: none;
  stroke: #66bb6a;
  stroke-width: 1.5px;
}

.link::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #66bb6a;
  height: 10px;
  width: 10px;
  transform: rotate(45deg);
  top: 50%;
  left: 50%;
  margin-left: -5px;
  margin-top: -5px;
}